<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compressed-paths</key>
	<array>
		<string>run4/core/uniquing</string>
		<string>run4/core/uniquing</string>
		<string>run4/core/uniquing</string>
		<string>run5/core/core-config</string>
		<string>run5/core/table-manager</string>
		<string>run4/core/core-config</string>
		<string>run4/core/table-manager</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/uniquing</string>
		<string>run5/core/uniquing</string>
		<string>run5/core/uniquing</string>
		<string>run5/core/uniquing</string>
	</array>
	<key>paths</key>
	<array>
		<string>run4/core/uniquing</string>
		<string>run5/core/core-config</string>
		<string>run5/core/table-manager</string>
		<string>run4/core/core-config</string>
		<string>run4/core/table-manager</string>
		<string>currentRun/core/uniquing</string>
		<string>run5/core/uniquing</string>
	</array>
</dict>
</plist>
